@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant first-visit (&:where(.first-visit, .first-visit *));

@theme {
  --font-default: "Caveat", "Hachi Maru Pop", "sans-serif";
  @keyframes moveX {
    0% {
      transform: translateX(calc(var(--move-x, 0) * -1vmin));
    }
    100% {
      transform: translateX(calc(var(--move-x, 0) * 1vmin));
    }
  }
  @keyframes moveY {
    0% {
      transform: translateY(calc(var(--move-y, 0) * -1vmin));
    }
    100% {
      transform: translateY(calc(var(--move-y, 0) * 1vmin));
    }
  }
  @keyframes breathe {
    0%,
    100% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(0.5);
      opacity: 0.5;
    }
  }
}

@utility animate-moveX {
  animation: moveX 20s ease-in-out infinite alternate;
}

@utility animate-moveY {
  animation: moveY 20s ease-in-out infinite alternate;
}

@utility animate-moveX-* {
  --move-x: --value([number]);
  animation: moveX 20s ease-in-out infinite alternate;
}

@utility animate-moveY-* {
  --move-y: --value([number]);
  animation: moveY 20s ease-in-out infinite alternate;
}

@utility animation-duration-* {
  animation-duration: calc(--value([number]) * 1s);
}

@utility animation-delay-* {
  animation-delay: calc(--value([number]) * 1s);
}

@utility -animation-delay-* {
  animation-delay: calc(--value([number]) * -1s);
}

@utility animate-breathe {
  animation: breathe 10s ease-out infinite;
}
